@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


* {
    margin: 0;
    padding: 0;
    /* background-color: white; */

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}





.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: 0.5s;
    padding: 20px;
}

.container .content {
    position: relative;
    max-width: 800px;
}



h2 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

h6 {
    font-weight: 900;
    margin-bottom: 10px;
    color: rgb(102, 102, 102);
}

.container .content img {
    max-width: 100%;
    display: block;
}

a {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #000;
    background: #fff173;  
    border-radius: 5px;
}





/* FORM  */

.form {
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
    
}

.form input {
    width:  100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name, 
.form input:valid + .label-name .content-name {
    transform: translateY(-150%); 
    font-size: 14px; 
    color: #5fa8d3;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
    transform: translateX(0%);
}


/* END FORM  */




/* DISCUSSION */


.discussion-form {
    width: 100%;
    position: relative;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    
}

.discussion-box {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .discussion-box::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .discussion-box img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .discussion-box img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }


  /* END DISCUSSION */




