/* -------------------- REsponsiveness ----------------------- */

@media (max-width: 350px) {
body h1 {
  font-size: 14px;
}

.header-buttons a {
  font-size: 10px;
  padding: 10px;
}

.about img {
  width: 280px;
  height: 196px;
  margin: 0 auto 26px;
  display: block;
  border-style: none;
}

.about2 img {
  width: 280px;
  height: 196px;
}
}

@media (max-width: 400px) {
  body h1 {
    font-size: 14px;
  }
  
  .header-buttons a {
    font-size: 10px;
    padding: 10px;
  }

  .about img {
    width: 280px;
    height: 196px;
    margin: 0 auto 26px;
    display: block;
    border-style: none;
  }

  .about2 img {
    width: 280px;
    height: 196px;
  }
}


@media screen and (max-width: 420px) {
  body h1 {
    font-size: 14px;
  }

  .header-buttons a {
    font-size: 10px;
    padding: 10px;
  }

  .about img {
    width: 280px;
    height: 196px;
    margin: 0 auto 26px;
    display: block;
    border-style: none;
  }

  .about2 img {
    width: 280px;
    height: 196px;
  }
}


@media screen and (max-device-width: 640px) {
  body h1 {
    font-size: 30px;
    margin: .67em 0;
    line-height: 44px;
    color: #232a32;
  }

  body h3 {
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 44px;
    margin: 0 auto 72px;
    color: #232a32;
    font-weight: bold;
  } 

  body a {
    padding: 20px 22px!important;
    min-width: 185px;
    max-width: 225px;
    width: auto;
    height: auto;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  .about p{
    font-size: 14px;
    max-width: 600px;
    line-height: 30px;
    text-align: center;
    margin: 35px auto 40px;
    letter-spacing: .2px;
    color: #3b444f;
  }

  .about li {
    font-size: 22px;
    max-width: 600px;
    line-height: 30px;
    text-align: center;
    margin: 35px auto 40px;
    letter-spacing: .2px;
    color: #3b444f;
  }
  
  .about img {
    width: 280px;
    height: 196px;
    margin: 0 auto 26px;
    display: block;
    border-style: none;
  }

  .about2 img {
    width: 280px;
    height: 196px;
  }


  // SAMPLE 
  #sample {
    height: 150vh;
  } 

  #sample button {
    margin-top: 10px;
  }

  #sample h3 {
    padding-top: 150px;
  }

  #sample img {
    height: 200px;
    margin-top: 10px;
  }
  // END SAMPLE 

  // PRICING 
      .pricing,
    .happyclients,
    .contactus {
      height: auto;
      margin-top: 0px;
    }
  
    .card-second {
      transform: translate(0px);
      margin: 30px 0;
    }
  
    .contactus p {
      padding: 0 50px;
    }
  // END PRICING 
}

@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body h1 {
    font-size: 30px;
    margin: .67em 0;
    line-height: 44px;
    color: #232a32;
  }

  body h3 {
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 44px;
    margin: 0 auto 72px;
    color: #232a32;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  } 

  body a {
    padding: 20px 22px!important;
    min-width: 185px;
    max-width: 225px;
    width: auto;
    height: auto;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  .about p{
    font-size: 14px;
    max-width: 600px;
    line-height: 30px;
    text-align: center;
    margin: 35px auto 40px;
    letter-spacing: .2px;
    color: #3b444f;
  }

  .about li {
    font-size: 22px;
    max-width: 600px;
    line-height: 30px;
    text-align: center;
    margin: 35px auto 40px;
    letter-spacing: .2px;
    color: #3b444f;
  }
  
  .about img {
    width: 280px;
    height: 196px;
    margin: 0 auto 26px;
    display: block;
    border-style: none;
  }

  .about2 img {
    width: 280px;
    height: 196px;
  }

  // PRICING 
      .pricing,
    .happyclients,
    .contactus {
      height: auto;
      margin-top: 0px;
    }
  
    .card-second {
      transform: translate(0px);
      margin: 30px 0;
    }
  
    .contactus p {
      padding: 0 50px;
    }
  // END PRICING 
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  

  body h1 {
    font-size: 30px;
    margin: .67em 0;
    line-height: 44px;
    color: #232a32;
  }

  body h3 {
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 44px;
    margin: 0 auto 72px;
    color: #232a32;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  } 

  body a {
    padding: 20px 22px!important;
    min-width: 185px;
    max-width: 225px;
    width: auto;
    height: auto;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  .about p{
    font-size: 14px;
    max-width: 600px;
    line-height: 30px;
    text-align: center;
    margin: 35px auto 40px;
    letter-spacing: .2px;
    color: #3b444f;
  }

  .about li {
    font-size: 22px;
    max-width: 600px;
    line-height: 30px;
    text-align: center;
    margin: 35px auto 40px;
    letter-spacing: .2px;
    color: #3b444f;
  }
  
  .about img {
    width: 100%; height: 100%;
    margin: 0 auto 26px;
    display: block;
    border-style: none;
  }


  .about2 img {
    width: 100%; height: 100%;
  }

  // PRICING 
      .pricing,
    .happyclients,
    .contactus {
      height: auto;
      margin-top: 0px;
    }
  
    .card-second {
      transform: translate(0px);
      margin: 30px 0;
    }
  
    .contactus p {
      padding: 0 50px;
    }
  // END PRICING 
}

@media screen and (min-width: 1024px) {
  body h1 {
    font-size: 30px;
    margin: .67em 0;
    line-height: 44px;
    color: #232a32;
  }

  body h3 {
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 44px;
    margin: 0 auto 72px;
    color: #232a32;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  } 

  body a {
    padding: 20px 22px!important;
    min-width: 185px;
    max-width: 225px;
    width: auto;
    height: auto;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  .about p{
    font-size: 14px;
    max-width: 600px;
    line-height: 30px;
    text-align: center;
    margin: 35px auto 40px;
    letter-spacing: .2px;
    color: #3b444f;
  }

  .about li {
    font-size: 22px;
    max-width: 600px;
    line-height: 30px;
    text-align: center;
    margin: 35px auto 40px;
    letter-spacing: .2px;
    color: #3b444f;
  }
  
  .about img {
    width: 100%; height: 100%;
    margin: 0 auto 26px;
    display: block;
    border-style: none;
  }

  .about2 img {
    width: 100%; height: 100%;
  }

  // PRICING 
      .pricing,
    .happyclients,
    .contactus {
      height: auto;
      margin-top: 0px;
    }
  
    .card-second {
      transform: translate(0px);
      margin: 30px 0;
    }
  
    .contactus p {
      padding: 0 50px;
    }
  // END PRICING 
}

